body {
    background: rgb(163, 163, 163);
    font-family: monospace
}

#btn-ingresar {
    background: green;
}

#btn-eliminar {
    background: red;
}

#btn-modificar {
    background: yellow;
}

#btn-consultar {
    background: rgb(25, 0, 255);
}

#btn-reporte {
    background: violet;
}

#btn-volver {
    background: #FF8000
}

.casilla-id {
    width: 43px;

}

.casilla-razon-social {
    width: 410px;

}